<%- include header.ejs %>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">chatroom sample</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h1>room#1</h1>
      </div>

<div class="row">
    <div class="span9">
        <div>
            <div class="accordion_head">
		<i class="icon-picture"></i>
		画像アップロード
	    </div>
            <div id="drop_zone" style="width: 200px; height: 100px; border: thin solid black;">ここにファイルをドロップ。</div>
        </div>
	<br />
	<div class="input-prepend">
		<span class="add-on">発言</span>
		<input type="text" id="msg" class="span8" >
	</div>
	<br />
        <div id="messageArea" style="margin-top:20px;">
		<dl class="list"></dl>
        </div>
        <div id="messageLogArea">
		<dl class="list"></dl>
        </div>
	<input id="logDelButton" class="btn" type="button" value="ログ削除">
        <div id="transportID"></div>
        <div id="transportName"></div>
        <div id="username"></div>
    </div><!-- /.span9 -->
    <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Logged in Users</li>
            </ul>
            <ul class="nav nav-list" id="loginusers">
            </ul>
          </div><!--/.well -->
    </div><!-- /.span3 -->
</div><!-- /.row -->

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"> </script>
  </body>
</html>


