<%- include header.ejs %>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">chatroom sample</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h1>room#1</h1>
      </div>

<div class="row">
    <div class="span9">
	<input id="msg">
	<input id="submitButton" class="btn" type="button" value="はつげん">
        <div id="messageArea" style="margin-top:20px;">
            <table class="table table-condensed">
            <tbody></tbody>
            </table>
        </div>
        <div id="transportID"></div>
        <div id="transportName"></div>
        <div id="username"></div>
    </div><!-- /.span6 -->
    <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Logged in Users</li>
            <ul class="nav nav-list" id="loginusers">
            </ul>
          </div><!--/.well -->
    </div><!-- /.span3 -->
</div><!-- /.row -->

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.js"></script>
    <script>
$(function(){
    var username = '<%= username %>';
    var socket = new io.connect("/");

    socket.on("connect", function(){
        var uid = socket.socket.transport.sessid;
        $("#transportName").text("connection ID " + socket.socket.transport.sessid); // 接続ID
        $("#transportID").text("connect via " + socket.socket.transport.name); // 接続時に接続方式表示
        $("#username").text("connect username " + username);
   	socket.emit("login", username); // ユーザーネームをサーバーへ。
    });

    socket.on("loginusers", function(login){
        $("#loginusers li").remove();
	for (var i in login){
		console.log(login[i].username);
		$("<li>").text(login[i].username).prependTo($("#loginusers"));
	}
    });

    socket.on("message", function(message){
        $("<div class=\"text-message\" style=\"display: none;\"><tr>").html("<td width=\"250px\"><p class=\"text-success\">" + message.username + " says : </p></td><td width=\"800px\"><p>" + message.message + "</p></td>").prependTo($("#messageArea table tbody"));// 受信メッセージをレンダリング
        $(".text-message").animate({height: 'show', opacity: 'show'}, 'normal');
    });

    socket.on("system", function(message){
        $("<div class=\"text-message\" style=\"display: none;\"><tr>").html("<td width=\"250px\"><p class=\"text-info\">system says : </p></td><td width=\"800px\"><p>" + message + "</p></td>").prependTo($("#messageArea table tbody"));// 受信メッセージをレンダリング
        $(".text-message").animate({height: 'show', opacity: 'show'}, 'normal');
    });

    $("#submitButton").click(function(){
        socket.emit("message", {message: $("#msg").val(),username: username}); // 入力メッセージをサーバへ
    });
});
    </script>

  </body>
</html>


